/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  margin: 15px 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #353f48;
}
h1 {
  font-size: 1.7rem;
}
h1:hover {
    color: #e4002b;
}
h3 {
  font-size: 1.2rem;
}
img {
  float: left;
  cursor: pointer;
}
p {
  color: #697684;
};
ul#categoryList {
  list-style-type: none !important;
  margin-left: -26px;
}
ul#categoryList li {
  display: block;
  color: #697684;
}
hr {
  display: block;
  width: 50px;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
a:hover {
  color: red;
  text-decoration: underline;
}
/* Header and Footer
-------------------------*/
.bgImgHeader {
  background-image: url(../images/aleksandar-savic-361230-unsplash-1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 60vh;
}
#footer {
  height: 30vh;
  background-color: #262f35;
}

/* Navigation
-------------------------*/
#nav {
  padding: 9px 9px 0px;
  border: 1px solid #dee2e6;
  margin-top: 5px;
}
/* Main Content
-------------------------*/

/* >>>>>>Left Column */
.caption {
  color: #969fa9;
  font-size: .85rem;
}
/* Image responsive */
.leftColumn_image img{
  width: 280px;
  min-width: 100%;
  height: 230px;
}
@media (min-width:480px) {
  .leftColumn_image img{
    width: 50%;
  }
}
@media (min-width:769px) {
  .leftColumn_image img{
    width: 50%;
    min-width: auto;
  }
}

/* >>>>>Right Column */
#category {
  margin-bottom: 30px;
}
#mostRead {
  margin-bottom: 30px;
}
#video {
  margin-bottom: 30px;
}
.rightColumn h1 {
  backgrund-color: #dee2e6;
}
#categoryList svg {
  margin-right: 5px;
}
ul#categoryList {
    padding-left: 12px;
}
/* Image responsive */
.rightColumn_image img{
  width: 140px;
  /* min-width: 50%; */
  height: 80px;
}
@media (min-width:480px) {
  .rightColumn_image img{
    width: 100%;
    height: auto;
  }
}
@media (min-width:769px) {
  .rightColumn_image img{
    width: 50%;
    min-width: auto;
  }
}
